RechercheVolsHotels/Web References/wsHotel/ServiceHotel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="rechercheHotels">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ville" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rechercheHotelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rechercheHotelsResult" type="tns:ArrayOfClsHotel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsHotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsHotel" nillable="true" type="tns:clsHotel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsHotel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ville" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="debutDispo" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="finDispo" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="rechercheHotelsAvecDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ville" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="debut" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fin" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rechercheHotelsAvecDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rechercheHotelsAvecDateResult" type="tns:ArrayOfClsHotel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="rechercheHotelsSoapIn">
    <wsdl:part name="parameters" element="tns:rechercheHotels" />
  </wsdl:message>
  <wsdl:message name="rechercheHotelsSoapOut">
    <wsdl:part name="parameters" element="tns:rechercheHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="rechercheHotelsAvecDateSoapIn">
    <wsdl:part name="parameters" element="tns:rechercheHotelsAvecDate" />
  </wsdl:message>
  <wsdl:message name="rechercheHotelsAvecDateSoapOut">
    <wsdl:part name="parameters" element="tns:rechercheHotelsAvecDateResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceHotelSoap">
    <wsdl:operation name="rechercheHotels">
      <wsdl:input message="tns:rechercheHotelsSoapIn" />
      <wsdl:output message="tns:rechercheHotelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="rechercheHotelsAvecDate">
      <wsdl:input message="tns:rechercheHotelsAvecDateSoapIn" />
      <wsdl:output message="tns:rechercheHotelsAvecDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceHotelSoap" type="tns:ServiceHotelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="rechercheHotels">
      <soap:operation soapAction="http://tempuri.org/rechercheHotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rechercheHotelsAvecDate">
      <soap:operation soapAction="http://tempuri.org/rechercheHotelsAvecDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHotelSoap12" type="tns:ServiceHotelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="rechercheHotels">
      <soap12:operation soapAction="http://tempuri.org/rechercheHotels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rechercheHotelsAvecDate">
      <soap12:operation soapAction="http://tempuri.org/rechercheHotelsAvecDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceHotel">
    <wsdl:port name="ServiceHotelSoap" binding="tns:ServiceHotelSoap">
      <soap:address location="http://127.0.0.1/WSHotel/ServiceHotel.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHotelSoap12" binding="tns:ServiceHotelSoap12">
      <soap12:address location="http://127.0.0.1/WSHotel/ServiceHotel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>